{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="rules-showcase">
            <h2>Our Game Theory Approach:</h2>
            <ul>
                <li>We promote only the best AI tools</li>
                <li>All tools are thoroughly vetted by our experts</li>
                <li>Every tool we showcase is completely free</li>
                <li>Our commitment: These tools will remain free forever</li>
            </ul>
        </div>
    </div>
    {% include 'home/list.html' %}
{% endblock %}
